:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --light-color: #ffffff;
  --footer-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --hero-background-color: #2e2f42;
  --section-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light-color);
  font-size: 16px;
  color: var(--main-text-color);
}

.item {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
 
.address{
  font-style: normal;
}

.header-accent-logo {
  color: var(--main-text-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.nav:hover,
.nav:focus {
  color: #4d5ae5;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.hero-section {
  background-color: var(--hero-background-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: var(--light-color);
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:active {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.section-team {
  background-color: var(--section-color);
}

.cards {
  background-color: var(--light-color);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer-section {
  background-color: var(--hero-background-color);
}

.footer-quote {
  color: var(--footer-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-accent-logo {
  color: var(--section-color);
}

/* --Portfolio-- */
.btn {
  font-family: "Roboto" , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--section-color);
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: var(--light-color);
  background-color: #404bbf;
}
.btn:focus {
  color: var(--light-color);
  background-color: #404bbf;
}
.btn:active {
  background-color: #404bbf;
}
